.flagGradient img {
    width: 75px;
    height: 75px;
    padding: 0;
    display: block;
    position: absolute;
    opacity: 0.25;
    z-index: -2;
    top: -13px;
  }
  .flagGradient {
    position: absolute;
    margin-top: -12px;
    margin-left: -13.5px;
  }
  .flagGradient::after {
    content: " ";
    position: absolute;
    width: 76px;
    height: 47px;
    background: linear-gradient(
  to right,
  rgba(255, 255, 255, 0) 25%,
  rgba(255, 255, 255, 1) 90%
  );
    z-index: -1;
    top: 1px;
  }