body{
    background-color: darkgray;
}

.accordion .card-header:after {
    font-weight: bolder;
    content: "+";
    float: right; 
    margin-top:-2px
}
.accordion, .navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 12px;
}