body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand > img {
  max-height: 32px;
  padding-right: 15px;
}
.card-body , .navbar-brand {
  padding: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table.legend{
  margin-bottom: -20px !important;
  border: none !important;
}
table.legend td, table.legend th {
  border: none !important;
}

.legendPiece{
  pointer-events: none;
  background:white;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  height:24px;
  width:80px;
}

.form-group {
  margin-bottom: 0px !important;
}

.score {
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px;
}
.score .alert{
  padding:0px;
  margin: 0px;
  border: 0px;
  border-radius: 0px;
}
.score .alert-heading.h4 ,.score .mb-0{
  font-size: 15px !important;
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  margin-bottom: 0px
}

.score hr{
  margin: 0px;
}

.score .col-lg-4{
  padding-right: 0px;
  padding-left: 0px;
}